.btn {
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: $border-radius-small;
    background-color: $color-primary-pale-red;
    border: 1px solid $color-primary-soft-red;
}
