.btn {
    width: fit-content;
    padding: 0.5rem 1.2rem;
    outline: none;
    border: none;
    border-radius: $border-radius-medium;
    background-color: $color-primary-soft-red;
    color: $color-white;
    font-size: $font-size-small;
    cursor: pointer;
    margin-bottom: $margin-bottom-small;

    &:hover {
        background-color: $color-primary-pale-red;
    }
}
