.navigation {
    margin-bottom: $margin-bottom-huge;
    display: flex;
    flex-direction: column;

    &__item {
        font-size: $font-size-medium;
        color: $color-neutral-grayish-blue;
        list-style: none;
        margin-bottom: $margin-bottom-small;
        position: relative;
        padding: 0.4rem 4rem;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            color: $color-primary-soft-red;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: 2px;
            width: 0;
            left: 0;
            background-color: $color-primary-soft-red;
            transition: width 0.3s ease-in-out;
        }

        &::after {
            bottom: 0;
        }

        &:hover::after {
            width: 5rem;
            color: $color-primary-soft-red;
        }
        &:focus {
            color: $color-primary-soft-red;
            font-weight: $font-weight-medium;
        }
    }
}
.selected {
    color: $color-primary-soft-red;
    font-weight: $font-weight-medium;
}
