.reply {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}
.replies {
    width: 95.5%;
    margin-left: auto;
    padding-left: 3.3rem;
    border-left: 2px solid $color-neutral-light-gray;
}
