.signin {
    display: flex;
    flex-direction: column;

    &__inputs {
        margin-bottom: $margin-bottom-medium;
    }
    &__btns {
        display: flex;
        margin-bottom: $margin-bottom-huge;
        gap: 2rem;
    }
}
