.text {
    font-size: $font-size-medium;
    color: $color-neutral-light-grayish-blue;
    line-height: 2rem;

    &__about {
        margin-bottom: $margin-bottom-medium;
    }

    &--comment {
        border: 1px solid $color-neutral-light-gray !important;
        margin-top: $margin-bottom-medium;
        margin-bottom: $margin-bottom-small;

        &:focus {
            border: 1px solid $color-primary-moderate-blue !important;
        }
    }

    &--area {
        width: 100%;
        height: auto;
        padding: 2rem;
        border-radius: $border-radius-medium;
        resize: vertical;
        outline: none;
        font-size: $font-size-medium;
        color: $color-black;
        border: 1px solid $color-primary-moderate-blue;

        &__input {
            padding: 2rem;
            display: block;
            width: 100%;
            position: absolute;
            box-sizing: border-box;
            font-family: inherit;
            font-size: inherit;
            letter-spacing: inherit;
            height: auto;
            bottom: 0px;
            overflow: hidden;
            resize: none;
            border: none;
            outline: none;
        }
    }
}
