$font-size-huge: 2.3rem;
$font-size-very-big: 2rem;
$font-size-big: 1.8rem;
$font-size-main: 1.6rem;
$font-size-medium: 1.4rem;
$font-size-small: 1.2rem;

$font-weight-very-heavy: 900;
$font-weight-heavy: 700;
$font-weight-medium: 500;
$font-weight-light: 400;

$border-radius-small: 0.4rem;
$border-radius-big: 2rem;

$margin-bottom-small: 1rem;
$margin-bottom-medium: 2rem;
$margin-bottom-big: 4rem;

$color-primary-moderate-blue: hsl(238, 40%, 52%);
$color-primary-soft-red: hsl(358, 79%, 66%);
$color-primary-light-grayish-blue: hsl(239, 57%, 85%);
$color-primary-pale-red: hsl(357, 100%, 86%);

$color-neutral-dark-blue: hsl(212, 24%, 26%);
$color-neutral-grayish-blue: hsl(211, 10%, 45%);
$color-neutral-light-gray: hsl(223, 19%, 93%);
$color-neutral-very-light-gray: hsl(228, 33%, 97%);
$color-neutral-white: hsl(0, 0%, 100%);

$color-white: white;
$color-black: black;
