.header {
    width: 20%;
    margin-right: $margin-bottom-huge;

    &__logo {
        display: flex;
        align-items: center;
        margin-bottom: $margin-bottom-big;

        &-logo {
            margin-right: 1.5rem;
        }
        &-name {
            font-size: $font-size-huge;
        }
    }
}
